NEXT_PUBLIC_WINGET_API_BASE=http://localhost:3100
NEXT_PUBLIC_WINGET_API_KEY=api_auth_key
NEXT_PUBLIC_WINGET_API_SECRET=api_auth_password
NEXT_OFFICIAL_PACKS_CREATOR=0

WINSTALL_API_DEBUG=0
WINSTALL_API_TIMEOUT_MS=15000

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=random_secret_for_nextauth # openssl rand -base64 32

NEXT_PUBLIC_TWITTER_BEARER=twitter_bearer_token
NEXT_PUBLIC_TWITTER_SECRET=custom_random_secret # random secret string, e.g. random uuid

TWITTER_ID=twitter_consumer_key
TWITTER_SECRET=twitter_consumer_secret
